In [135]:
import pandas as pd
import numpy as np

In [136]:
file = "data.txt"
df = pd.read_csv(file, delimiter="\t")

In [137]:
df = df.drop_duplicates()

In [138]:
df.groupby("Anchor").count()

           Reco
Anchor
#            10
100272038     1
10294990      4
10313897      1
103616322     1
...         ...
993257510     1
994852015     1
995415578     6
999714278     1
999732035     2

[308 rows x 1 columns]

In [144]:
 df.groupby("Anchor")['Reco'].agg(list)

Anchor
#            [15420406, 997230170, 1099461055, 3657411303, ...
100272038                                          [216325455]
10294990            [486280096, 779517116, 46401422, 53724971]
10313897                                          [2237220663]
103616322                                           [17201458]
                                   ...
993257510                                         [2744244304]
994852015                                         [3059896322]
995415578    [1478050499, 1845392115, 1286724525, 111940019...
999714278                                         [2938940284]
999732035                             [1190138961, 2537462077]
Name: Reco, Length: 308, dtype: object

In [148]:
def process_data(data):
    
    res = str(data.to_numpy())[1:-1]
    #res = res.replace(" ", "\t")
    #print(res)
    return res

grouped_df = df.groupby("Anchor")['Reco'].apply(process_data)
grouped_df = df.groupby("Anchor")['Reco'].apply(list)
grouped_df

Anchor
#            [15420406, 997230170, 1099461055, 3657411303, ...
100272038                                          [216325455]
10294990            [486280096, 779517116, 46401422, 53724971]
10313897                                          [2237220663]
103616322                                           [17201458]
                                   ...
993257510                                         [2744244304]
994852015                                         [3059896322]
995415578    [1478050499, 1845392115, 1286724525, 111940019...
999714278                                         [2938940284]
999732035                             [1190138961, 2537462077]
Name: Reco, Length: 308, dtype: object

In [149]:
grouped_df.to_csv("data_grouped.txt")